body {
    font-family: 'Roboto', sans-serif; /* Mudança para Roboto */
    margin: 0;
    padding: 0;
    background-color: #fd9e00; /* Fundo laranja */
    color: #ffffff;
}

section {
    background-color: #000000; /* Seções em preto */
    color: #ffffff; /* Texto padrão branco */
    padding: 50px 20px;
    margin-bottom: 30px; /* Espaçamento entre seções */
    overflow: hidden;
}

.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.8em; /* Ajuste da escala tipográfica */
    margin-bottom: 20px;
    color: #ffffff; /* Título branco */
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #ffffff; /* Texto de destaque branco */
}
.authority{
    display: grid;
    justify-items: center;
}
.authority img {
    width: 350px;
    border-radius: 360px;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.video-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.play-button img {
    width: 180px; /* Aumentado */
    height: 180px; /* Aumentado */
}
.play-button img:hover {
    transform: scale(1.2);
}

#video-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* Ocultar iframe inicialmente */
}

#cta-container {
    text-align: center;
    margin-top: 20px;
    
}

.cta-button {
    background-color: #fd9e00; /* Botão laranja */
    color: #ffffff; /* Texto do botão branco */
    padding: 20px 40px; /* Aumentado */
    border-radius: 5px;
    border: none;
    font-size: 1.5em; /* Aumentado */
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adicionada sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efeito de flutuação */
    overflow: hidden;
}

.cta-button:hover {
    background-color: #ffffff; /* Hover do botão branco */
    color: #000000; /* Texto do botão preto */
    transform: scale(1.1); /* Efeito de flutuação */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Aumenta a sombra */
}

.float {
    position: relative; /* Para manter o botão dentro do fluxo de layout */
    will-change: transform; /* Otimização para melhor performance */
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: #ffffff; /* Títulos em laranja */
    margin-bottom: 20px;
    font-size: 2em; /* Ajuste da escala tipográfica */
}

.testimonials blockquote {
    font-style: italic;
    margin: 20px 0;
    color: #ffffff; /* Testemunhos em branco */
    font-size: 1.2em; /* Ajuste da escala tipográfica */
}

ul {
    list-style-type: none;
    padding: 0;
    color: #ffffff; /* Texto da lista branco */
    font-size: 1.1em; /* Ajuste da escala tipográfica */
}

ul li {
    margin: 10px 0;
    color: #ffffff; /* Texto de itens de lista laranja */
}

.parallax-section {
    position: relative; /* Necessário para o posicionamento absoluto do pseudo-elemento */
    background-color: #fd9e00;
    background-image: url('./src/autoescola.jpg');
    background-attachment: fixed; /* Efeito parallax */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 20px; /* Ajuste o espaçamento conforme necessário */
    color: #fff; /* Cor do texto para contraste */
    text-align: center;
    overflow: hidden; /* Garante que o pseudo-elemento não ultrapasse os limites da seção */
}

.parallax-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Filtro escuro sobre a imagem */
    z-index: 1; /* Coloca o filtro acima da imagem de fundo */
}

.problems-solutions h2,
.problems-solutions ul,
.problems-solutions p {
    text-align: left;
    position: relative; /* Garante que o conteúdo fique acima do pseudo-elemento */
    z-index: 2; /* Coloca o texto acima do filtro escuro */
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semitransparente para o texto */
    display: block;
    padding: 15px 30px;
    border-radius: 8px;
    margin-bottom: 20px; /* Espaçamento entre os elementos */
}

.problems-solutions ul {
    list-style: none; /* Remove marcadores de lista */
    padding: 0 10;
}

.problems-solutions ul li {
    margin: 10px 0;
}

/* Estilos do Carrossel */
.carousel {
    width: 100%;
    overflow: hidden; /* Oculta o excesso de conteúdo para criar o efeito de carrossel */
    margin-top: 30px;
    position: relative; /* Para usar a posição absoluta no JavaScript */
}

.carousel-track {
    display: flex; /* Layout em linha para o carrossel */
    animation: scroll 20s linear infinite; /* Animação infinita */
}

.carousel-image {
    width: 100%;
    max-width: 400px; /* Tamanho máximo de cada imagem */
    margin: 0 10px; /* Espaçamento entre imagens */
    object-fit: cover; /* Ajusta a imagem para preencher o contêiner sem distorcer */
    border-radius: 8px; /* Opcional: bordas arredondadas */
}

/* Animação infinita do carrossel */
@keyframes scroll {
    0% {
        transform: translateX(25);
    }
    100% {
        transform: translateX(-25%);
    }
}

.social-proof{
    text-align: center;
}

footer {
    background-color: #000000; /* Rodapé preto */
    color: #ffffff; /* Texto do rodapé branco */
    text-align: center;
    padding: 20px;
}

.whatsapp-float {
    position: fixed;
    width: 80px; /* Aumentado */
    height: 80px; /* Aumentado */
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 40px; /* Aumentado */
    z-index: 100;
    transition: transform 0.3s ease;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}

.whatsapp-float img {
    margin-top: 10px;
    width: 50px; /* Aumentado */
    height: 50px; /* Aumentado */
}

.video-section {
    position: relative;
    margin-bottom: 30px;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
span {
    transform: scale(1.1);
    font-size: larger;
    color: #fd9e00;
}

/* Responsividade */
@media (max-width: 768px) {
    .hero {
        padding: 30px 15px;
    }

    .hero h1 {
        font-size: 2em; /* Ajuste responsivo */
    }

    .hero p {
        font-size: 1em;
    }

    .cta-button {
        padding: 15px 30px; /* Ajustado */
        font-size: 1.2em; /* Ajustado */
    }

    section {
        padding: 30px 15px;
    }

    

    footer {
        padding: 15px;
    }

    .whatsapp-float {
        width: 70px; /* Ajustado */
        height: 70px; /* Ajustado */
        bottom: 30px;
        right: 30px;
    }

    .whatsapp-float img {
        width: 40px; /* Ajustado */
        height: 40px; /* Ajustado */
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 1.8em; /* Ajuste responsivo */
    }

    .cta-button {
        padding: 10px 20px; /* Ajustado */
        font-size: 1em; /* Ajustado */
    }

    footer {
        font-size: 0.9em;
    }

    .whatsapp-float {
        width: 60px; /* Ajustado */
        height: 60px; /* Ajustado */
        bottom: 20px;
        right: 20px;
    }

    .whatsapp-float img {
        width: 35px; /* Ajustado */
        height: 35px; /* Ajustado */
    }
}
